<?xml version="1.0"?>

<launch>
  <!-- Load fake environment -->
  <include file="$(find vigir_footstep_planning)/launch/fake_environment.launch" />

  <!-- Load camera configuration for the UI nodes and nodelets -->
  <rosparam command="load" file="$(find vigir_ocs)/launch/atlas_camera_topics.yaml" />
  <rosparam command="load" file="$(find vigir_ocs)/launch/$(env FLOR_LEFT_HAND_TYPE)_camera_topics.yaml" />
  <rosparam command="load" file="$(find vigir_ocs)/launch/$(env FLOR_RIGHT_HAND_TYPE)_camera_topics.yaml" />

  <include file="$(find vigir_onboard)/launch/vigir_status_relay.launch" />
  <include file="$(find vigir_ocs)/launch/vigir_ocs_nodelets_no_footstep_planner.launch" />

  <include file="$(find vigir_ocs)/launch/vigir_minimal_ocs.launch" />
  
  <!-- =============  Also run the status widgets on the main UI screen ========= -->
  <include file="$(find vigir_rqt_position_mode)/launch/hand_positions.launch" />
</launch>

